{{ define "web/index.html" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{.title}}</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/mui/3.7.1/css/mui.css" rel="stylesheet">
</head>
<body>
<div class="mui-card">
    <!--页眉，放置标题-->
    <div class="mui-card-header">自动生成古诗词</div>
    <!--内容区-->
    <div class="mui-card-content">
        <form class="mui-input-group">
            <div class="mui-input-row">
                <label>输入藏头</label>
                <input type="text" class="mui-input-clear" id="ct" placeholder="请输入藏头，不输入自动生成">
            </div>
            <div class="mui-button-row">
                <button type="button"  data-loading-text="生成中" class="mui-btn mui-btn-primary" id="build" >点击生成</button>
            </div>
        </form>
    </div>
    <!--页脚，放置补充信息或支持的操作-->
    <div class="mui-card-footer" id="txt"></div>
</div>

<script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.8.3/jquery.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/mui/3.7.1/js/mui.js"></script>
<script>
    $('#build').on('click',function(){
        var ct = $('#ct').val();
        mui('#build').button('loading');
        $.ajax('/api/index',{
            data:{
                name:ct,
            },
            dataType:'json',//服务器返回json格式数据
            type:'get',//HTTP请求类型
            success:function(data){
                //获得服务器响应
                console.log(data);
                $("#txt").text(data.txt);
                mui('#build').button('reset');
            }
        });
    });
    // 激活长按按钮
    mui.init({
        gestureConfig: {
            longtap: true, //默认为false
        }
    });
    // 使用mui的长按事件 我把我的复制元素 class 设置为copy-text
    mui('body').on('longtap', '#txt', function () {
        // 每次触发事件就会使用 innerText 获取纯文本。
        var copy_content = this.innerText;
        // 加了一个确认框 让用户选择是否复制
        mui.confirm('您要复制内容吗？', '', ['取消', '复制内容'], function (e) {
            if (e.index == 1) {
                //判断是安卓还是ios
                if (mui.os.ios) {
                    // ios 的方法 这个我没具体研究过 直接拿来用了
                    var UIPasteboard = plus.ios.importClass("UIPasteboard");
                    var generalPasteboard = UIPasteboard.generalPasteboard();
                    //设置 复制的内容也就是 触发事件 innerText 获取的内容
                    generalPasteboard.plusCallMethod({
                        setValue: copy_content,
                        forPasteboardType: "public.utf8-plain-text"
                    });
                    generalPasteboard.plusCallMethod({
                        valueForPasteboardType: "public.utf8-plain-text"
                    });
                    // 在上边都走完 给用户一个提示
                    mui.toast('复制成功');
                } else {
                    //安卓 的方法 这个我没具体研究过 直接拿来用了
                    var context = plus.android.importClass("android.content.Context");
                    var main = plus.android.runtimeMainActivity();
                    var clip = main.getSystemService(context.CLIPBOARD_SERVICE);
                    plus.android.invoke(clip, "setText", copy_content);
                    // 在上边都走完 给用户一个提示
                    mui.toast('复制成功');
                }
            }
        })
    })
</script>
</body>
</html>
{{ end }}